

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-blk {
  width:100% !important;
  display:inline-flex !important;
  position: relative;
}
.img-blk{
  width:30% !important;
}
.content-blk{
  width:70% !important;
}
.content-blk .title{ 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-blk .des{ 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.blk {
  width:100%;
  display: inline-flex;
  margin-top:20px;
}
.select-blk {
  width:70%
}
.btn-blk{
  width:30%;
  margin-left:10px
}
.edit-icon{
  position: absolute;
  right:100px
}
.captilizeText {
  text-transform: capitalize;
}
.cmnt{
  color: #3bb3cf;
  font-weight: bold;
  font-size: 12px;
}
.cmnt-blk{
  position: relative;
}
.cmnt-blk span{
  position: absolute;
  top:18px;
}
.cmnt-show-blk{
  background: aliceblue;
  border-left: 3px solid #b97d7d;
  padding: 15px;
  margin-top: 5px;
}
.cmnt-show-blk p {
  font-size: 15px;
  margin:0;
}
.cmnt-show-blk i {
  font-size: 12px;
}
.text-center{
  text-align: center;
}
.cmn-sec{
  color: burlywood;
}
.btn-right{
  text-align: right;
  margin-top: 10px;
}